*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.dex
*.class
/repo
/signingkey.jks
/src/*/build
/src/*/*/build
/core/build
/lib/*/build
/lib-multisrc/*/build
/buildSrc/build
/buildSrc/.gradle
